
*{
    font-family: 'Roboto', sans-serif;
    }
    p{
      font-family: 'Roboto',sans-serif;
    }
  body{
    margin: 0;
  }
  .contenair-main{
    /**width: 70%; 
    margin-left: 500px;
    margin-right: 500px;**/
    background: #F6F6F6;
    border-radius: 40px 40px 0 0;
    position: relative ;
    top: -40px;
    
  }
  .plat-valide{
    width: 0;
    overflow: hidden;
    background-color: #99E2D0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.3s ;
  }
  /** > pour les element enfants **/
  .plat-valide > .fa-circle-check{
    color: white;
    font-size: 20px;
    padding: 0;
  }
  .centrer{
    display: flex;
    justify-content: center;
  }
  h2{
    padding-left: 10px;
  }
  .logo__img{
    width: 200px;
    height: 35px;
  }
  .main-con{
    top: 5px;
  }
  .recherche{
    display: flex;
    flex-direction: column;
  }
  .recherche--zone{
    background-color:#EAEAEA;
    border: none;
    height: 50px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: black;
  }
  
  .barrederecherche{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #EAEAEA;
  }
  input::placeholder {
    color: black;
  }
  .plat-petit {
    font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15.0431px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  } 
  .fa-solid{
    padding-top: 16px;
  }
  /********************************* demmarage de sass **/
  .titl{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .bolder{
    font-size: 28px;
  }
  .bold{
    font-size: 18px;
    font-style: normal;
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 21px;
  
  }
  /**************************************    BOUTON START   *******************/
  .btn{

  }



  .bouton-explorer{
    height: 50px;
    width: 220px;
    display: block;
    margin: 35px auto;
    border: none;
    border-radius: 25px;
    font-size: 0.95rem;
    font-weight: 500;
    box-shadow: 5px 7px 26px -9px rgba(0,0,0,0.5);
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    color: #FFF;
    position: relative;
    transition: 0.3s;
    
  }
  .bouton-explorer:hover{
    transform: scale(1.25);
    opacity: 80%;
    cursor: pointer;
  }
  
  
  .bouton{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #F6F6F6;
    width: 75%;
    height: 75px;
    text-align:start;
    font-size: 16px;
    justify-content: start;
    align-items: center;
    font-weight: 500;
    gap: 15px;
    border-radius: 25px;
    border: none;
    box-shadow: 5px 7px 26px -9px rgba(0,0,0,0.5);
    position: relative;
    transition:transform .5s ;
    }
    @keyframes pulse {
      to {
        box-shadow: 0 0 0 18px  rgba(0,0,0,0.01) ;
      }
    }
    .bouton:hover{
      transform:scale(1.2); 
    }
    .bouton:hover .bouton-numero{
      transform: rotate(720deg) scale(1.5);
    }
    /***************************************22 juin 16h02 ***********/
    .bouton-menu:hover .plat-valide{
      width: 20%;
    }
    
    /**.favoris:hover .btnfavoris-vide,
    .favoris input:checked + .btnfavoris-vide{
      opacity: 0;
    }
    .favoris:hover .btnfavoris-plein,
    .favoris input:checked + .btnfavoris-vide + .btnfavoris-plein{
      opacity: 1;
    }**/
    
  .bouton-clic{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    padding-left: 20px;
  }
  .bouton-numero{
    position: absolute;
    background-color: #9356DC;
    border: 1px solid #9356DC;
    width: 19px;
    color: #FFF;
    text-align: center;
    border-radius: 10px;
    left: -14px;
    position: relative;
    transition:transform .5s ;
    }
    .lesboutons{
      display: flex;
      flex-direction: column;
      justify-content:space-between;
      align-items: center;
      gap: 17px;
      padding-bottom: 15px;
    }
    p{
      padding-left: 10px;
    }
  .Fonctionnement-cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
  }
  .smartphone{
    padding-top:0;
    padding-left: 15px;
  }
  .smartphone1{
    padding-top:0;
  }
  .smartphone:hover{
    color: #9356DC;
  }
  .bouton:hover{
    cursor: pointer;
  }

  .bouton-menu{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 87%;
    height: 75px;
    overflow: hidden;
    text-align:start;
    font-size: 16px;
    justify-content:center;
    font-weight: 500;
    gap: 5px;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 7px 26px -9px rgba(0,0,0,0.5);
    transition: 0.4s all ease-in-out 0s;
  }
  .titre-description{
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    overflow: auto;
  }
  .bouton-menu::before{
    right: unset;
    left: 0;
    width: 0;
  }
  .bouton-menu:hover::before{
    right: 0;
    left: unset;
    width: 20%;
  }
  .btn-commande{
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    height: 50px;
    font-size: 16px;
    color: white;
    padding-left:20px ;
    padding-right: 20px;
    border-radius: 25px;
    border: none;
    box-shadow: 5px 7px 26px -9px rgba(0,0,0,0.5);
  }
  .btn-commande-border{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 25px;
    
  }
  /***********************************   BOUTON FIN   ********************/
  /**------------start---------carte animation ---**/
  .carte{
    position: relative;
    transition:all 0.5s;
    width: 100%;
  }
  .carte:hover{
    transform:scale(0.9);
  }
  .centre-cards{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 30px;
    }
  /**------------FIN---------carte animation ---**/
  .nouveau{
    width: 62px;
    position: absolute;
    padding: 6px 6px;
    transform-origin: 10% 50%;
    border-radius: 2px;
    background-color:#99E2D0;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color:#008766 ;
    top: 15px;
    right: 15px;
  }
  /**-------------------------------------------------26/26**/
  .nouveau:hover{
    transition: all .2s;
    animation: nouveau 2s linear 0.05s 1 both;
  }
    @keyframes nouveau {
  5% {
    -webkit-transform: rotateZ(40deg);
            transform: rotateZ(40deg);
  }
  10% {
    -webkit-transform: rotateZ(110deg);
            transform: rotateZ(110deg);
  }
  15% {
    -webkit-transform: rotateZ(85deg);
            transform: rotateZ(85deg);
  }
  20% {
    -webkit-transform: rotateZ(92.5deg);
            transform: rotateZ(92.5deg);
  }
  30% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
  40% {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
  50% {
    -webkit-transform: rotateZ(75deg);
            transform: rotateZ(75deg);
  }
  60% {
    -webkit-transform: rotateZ(60deg);
            transform: rotateZ(60deg);
  }
  70% {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  80% {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
  }
  90% {
    -webkit-transform: rotateZ(15deg);
            transform: rotateZ(15deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}

  .imgrestaurant{
    
    width: 100%;
      height: 136px;
      border-radius: 25px 25px 0 0;
      object-fit: cover;
  }
  .restaurantcards article {
      width: 95%;
      background-color: #FFFFFF;
      
      border-radius: 25px;
      margin-bottom: 20px;
  }
  .main-con{
    width: 100%;
    
  }
  .textrestaurants{
    padding-left: 10px;
  }
  .card-txt  {
    padding-left: 10px;
    color: black;
  }
  
  .centre-cards{
    display: flex;
    flex-direction: column;
    
    align-items: center;
  }
  .card-content{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .favoris{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    transition: 0.3s;
  }
  .favoris > label {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .favoris input {
    position: absolute;
    opacity: 0.001;
  }
  .btnfavoris-vide{
    position: absolute;
    font-size: 20px;
    opacity: 1;
    transition: 0.3s;
    padding: 0;
  }
  .btnfavoris-plein{
    position: absolute;
    opacity: 0;
    font-size: 20px;
    color: #9747FF;
    transition: 0.3s;
    padding: 0;
  }
  .favoris:hover{
    transform: scale(1.5);
  }
  .favoris:hover .btnfavoris-vide,
  .favoris input:checked + .btnfavoris-vide{
    opacity: 0;
  }
  .favoris:hover .btnfavoris-plein,
  .favoris input:checked + .btnfavoris-vide + .btnfavoris-plein{
    opacity: 1;
  }
  .restaurant{
    background-color:#F7F7F7;
    display: flex;
    flex-direction: column;
  }
  .liens{
    text-decoration: none;
  }
  .pdp{
    background-color: #353535;
  }
  .piedtitre{
    font-family:'Shrikhand';
    font-style: italic;
    color: #F7F7F7;
    padding-left: 25px;
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .liste{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 25px;
    padding-bottom: 20px;
    margin-bottom: 0;
  }
  .elemetliste{
    color: #FFFFFF;
    padding: 0;
  }
  .texte-element{
    text-decoration: none;
    color: #F7F7F7;
    margin-bottom: 20px;
  }
  .fa-handshake-angle {
    padding-right: 9px;
    padding-top: 0;
  }
  .fa-utensils{
    padding-right: 15px;
    padding-top: 0;
  }
  
  /**--------------------------------------------- LA PALETTE DU GOUT ----------**/
  
  
  .titre-la-palette{
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    font-size: 28px;
    line-height: 41px;
    position: relative;
  }
  .titre-la-palette:hover{
    animation: animation-titre 1.2s ease-in forwards;
  }
  @keyframes animation-titre {
    0% {transform: rotate3d(1,0,0, 0deg);}
    50% {transform: rotate3d(1,0,0, 360deg);}
    60% {transform: rotate3d(1,0,0, 420deg);}
    70% {transform: rotate3d(1,0,0, 370deg);}
    80% {transform: rotate3d(1,0,0, 330deg);}
    90% {transform: rotate3d(1,0,0, 350deg);}
    100% {transform: rotate3d(1,0,0, 360deg);}
  }
  .titre-favoris{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .image-plat{
    object-fit: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .texte-entrees{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    padding-left: 10px;
  }
  .texte-entrees:hover{
    text-transform: uppercase;
  }
  .borderbottom{
    width: 100%;
    color: #353535;
  }
  .tete__titre{
    font-family:'Shrikhand';
    font-style: italic;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
  }
  .tete-fleche{
    position: absolute;
    top: 2px;
    left: 9px;
  }
  .section-palette{
    position: absolute;
    border-radius: 25px 25px ;
  }
  
  /** .plat-valide{
    display: none;
    width: 0px;
    background-color: Green;
    animation: animation-carte 1s ease-in 0.5s forwards;
  }
  
  .plat-valide:hover{
    background-color: Green;
    width: 30px;
  
}**/
  
  
  .plat-gras{
    font-weight: bolder;
  }
  .plat-petit{
    font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15.0431px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  }
  .row-prix{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .prix-validation{
    display: flex;
    flex-direction: row;
  }
  .prix-assiette{
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bolder;
  }
  
  @media (min-width: 1024px){
    .contenair-main{
      /**width: 70%;**/ 
      margin-left: 500px;
      margin-right: 500px;
      background: #F6F6F6;
      border-radius: 40px 40px 0 0;
      position: relative ;
      top: -40px;
      
    }
    .plat-petit{
      font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15.0431px;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }
    .bouton-menu:hover .plat-valide{
      width: 10%;
    }
    .bouton-menu{
      position: relative;
      display: flex;
      flex-direction: row;
      background-color: #FFFFFF;
      width: 87%;
      height: 75px;
      overflow: hidden;
      text-align:start;
      font-size: 16px;
      justify-content:center;
      font-weight: 500;
      gap: 5px;
      border-radius: 15px;
      border: none;
      box-shadow: 5px 7px 26px -9px rgba(0,0,0,0.5);
      transition: 0.4s all ease-in-out 0s;
    }
    .lesboutons{
      display: flex;
      flex-direction: column;
      justify-content:space-between;
      align-items: center;
      gap: 17px;
      padding-bottom: 15px;
    }
    .centrer{
      display: flex;
      justify-content: center;
    }
    .logo__img{
    width: 200px;
    height: 35px;
  }
    .Fonctionnement-cards{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-right: 20px;
      padding-left: 20px;
    }
    .centre-cards{
      display: grid;
      grid-template-columns: 1fr 1fr ;
      grid-template-rows: 1fr 1fr;
      padding-left: 20px;
    }
    .bouton{
      width: 30%;
    }
    .plat-valide{
      width: 0;
      overflow: hidden;
      background-color: #99E2D0;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: width 0.3s ;
    }
    /** > pour les element enfants **/
    .plat-valide > .fa-circle-check{
      color: white;
      font-size: 20px;
      padding: 0;
    }
    
    /**.plat-valide:hover{
      background-color: Green; 
      height: 100%;
      width: 30px;
      @keyframes animation-carte{
        10%{transform:scale3d(0.975, 0.975, 1);}
        40%{transform:scale3d(0.975, 0.975, 1);}
        100%{transform:scale3d(0.999, 0.999, 1);}  
    }**/
  }
    .bouton-numero{
      position: absolute;
      background-color: #9356DC;
      border: 1px solid #9356DC;
      width: 19px;
      color: #FFF;
      text-align: center;
      border-radius: 10px;
      left: -14px;
      position: relative;
      
      }
      .carte:hover {
        animation: animation-carte 1s ease-in 0.5s forwards;
      }
      @keyframes animation-carte{
        10%{transform:scale3d(0.975, 0.975, 1);}
        40%{transform:scale3d(0.975, 0.975, 1);}
        100%{transform:scale3d(0.99, 0.99, 1);}  
    }
  
    .p-bouton{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 19px;
      font-weight: bolder;
    }
    .restaurantcards article{
      /**width: 100%;**/
      margin-top: 15px;
    }
    .imgrestaurant{
      height: 200px;
    }
    .textrestaurants{
      padding-left: 15px;
      padding-top: 20px;
    }
    .pdp{
      padding-top: 50px;
      display: flex;
      flex-direction: row-reverse;
      padding-right: 60px;
      padding-bottom: 20px;
    }
    .liste {
      display: flex;
      flex-direction: row;
      gap: 20px;
      padding-left: 25px;
      padding-bottom: 20px;
      margin-bottom: 0;
    }
  
    /** PALETTE DU GOUT **/
    .titre-favoris{
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 40px;
    }
    .texte-entrees{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      text-transform: uppercase;
      padding-left: 55px;
    
      display: inline-block;
      
    }
    .piedtitre{
      font-family:'Shrikhand';
      font-style: italic;
      color: #F7F7F7;
      padding-left: 25px;
      padding-top: 13px;
      margin-top: 0;
      margin-bottom: 0;
    }
    .image-plat {
      position: relative;
      object-fit: cover;
      width: 100%;
      height: 380px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    
    .btn-commande {
      background: linear-gradient(170deg, #FF79DA, #9356DC);
      height: 50px;
      width: 186px;
      font-size: 16px;
      font-weight: 500;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 25px;
      border: none;
      box-shadow: 5px 7px 26px -9px rgba(0,0,0,0.5);
  }
    
  }
  
  @keyframes