* {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  font-style: italic;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

/**button {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 2.75rem;
}

p {
  font-family: 'Roboto',sans-serif;
}

h2 {
  padding-left: 10px;
}**/
h2 {
  padding-left: 16px;
}

.texte-entrees {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  margin-left: -8px;
}
.texte-entrees::after {
  content: "";
  bottom: 5px;
  display: block;
  background-color: #99E2D0;
  width: 40px;
  height: 3px;
}
.texte-entrees:hover {
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .texte-entrees {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    margin-left: -8px;
  }
}
body {
  margin: 0;
}

.loader-con {
  position: fixed;
  background: black;
  display: flex;
  justify-content: center;
  margin: -8px;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.9;
  text-align: center;
  color: #fff;
  animation: disparaitre 200ms 3s forwards;
}

@keyframes disparaitre {
  to {
    transform: scale(0);
  }
}
.loader {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 5px solid #e74c3c;
  position: fixed;
  animation: load 2s linear infinite;
  background: -webkit-linear-gradient(-90deg, #9356dc, #ff79da);
}
.loader::before, .loader::after {
  content: "";
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  border-radius: 50%;
}
.loader::before {
  border-top: 5px solid #e67e22;
  transform: rotate(120deg);
}
.loader::after {
  border-top: 5px solid #3498db;
  transform: rotate(240deg);
}
.loader span {
  font-family: "Shrikhand";
  font-style: italic;
  position: absolute;
  font-size: larger;
  font-weight: bolder;
  width: 100px;
  height: 100px;
  /**color: #fff;**/
  color: black;
  text-align: center;
  line-height: 100px;
  animation: a2 2s linear infinite;
}

@keyframes load {
  to {
    transform: rotate(360deg);
  }
}
@keyframes a2 {
  to {
    transform: rotate(-360deg);
  }
}
.fa-arrow-left {
  margin-top: 20px;
  margin-bottom: 20px;
  size: 30px;
  color: #353535;
  font-size: 17px;
  padding-top: 10px;
}

input::-moz-placeholder {
  color: black;
}

input::placeholder {
  color: black;
}

.fa-solid.fa-location-dot {
  padding-top: 16px;
}

.fa-solid.fa-arrow-left {
  padding-top: 16px;
}

p {
  padding-left: 10px;
}

.smartphone {
  padding-top: 0;
  padding-left: 15px;
}
.smartphone:hover {
  color: #9356DC;
}

.smartphone1 {
  padding-top: 0;
  padding-left: 15px;
}

.recherche {
  display: flex;
  flex-direction: column;
}

.bolder {
  font-size: 28px;
}

.bold {
  font-size: 18px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 21px;
}

.fa-handshake-angle {
  padding-right: 9px;
  padding-top: 0;
}

.fa-utensils {
  padding-right: 15px;
  padding-top: 0;
}

.tete-fleche {
  position: absolute;
  top: 2px;
  left: 9px;
}

.section-palette {
  position: absolute;
  border-radius: 25px 25px;
}

.plat-gras {
  font-weight: bolder;
}

.row-prix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.prix-validation {
  display: flex;
  flex-direction: row;
}

.prix-assiette {
  padding-right: 10px;
  padding-left: 10px;
  font-weight: bolder;
}

.bouton-numero {
  position: absolute;
  background-color: #9356DC;
  border: 1px solid #9356DC;
  width: 19px;
  color: #FFF;
  /**sass**/
  text-align: center;
  border-radius: 10px;
  left: -14px;
  position: relative;
  transition: transform 0.5s;
}

@media (min-width: 1024px) {
  .bouton-numero {
    position: absolute;
    background-color: #9356DC;
    border: 1px solid #9356DC;
    width: 19px;
    color: #FFF;
    /**sass  double css**/
    text-align: center;
    border-radius: 10px;
    left: -14px;
    position: relative;
    transition: transform 0.5s;
  }
  .carte:hover {
    animation: animation-carte 1s ease-in 0.5s forwards;
  }
  @keyframes animation-carte {
    10% {
      transform: scale3d(0.975, 0.975, 1);
    }
    40% {
      transform: scale3d(0.975, 0.975, 1);
    }
    100% {
      transform: scale3d(0.99, 0.99, 1);
    }
  }
}
.nouveau {
  width: 62px;
  position: absolute;
  padding: 6px 6px;
  transform-origin: 10% 50%;
  border-radius: 2px;
  background-color: #99E2D0;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
  top: 15px;
  right: 15px;
}

.carte:hover .nouveau {
  z-index: 1;
  animation: nouveau 2s linear 0.05s;
}

@keyframes nouveau {
  5% {
    transform: rotateZ(40deg);
  }
  10% {
    transform: rotateZ(110deg);
  }
  15% {
    transform: rotateZ(85deg);
  }
  20% {
    transform: rotateZ(92.5deg);
  }
  30% {
    transform: rotateZ(90deg);
  }
  40% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateZ(75deg);
  }
  60% {
    transform: rotateZ(60deg);
  }
  70% {
    transform: rotateZ(45deg);
  }
  80% {
    transform: rotateZ(30deg);
  }
  90% {
    transform: rotateZ(15deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
.bouton-explorer {
  height: 50px;
  width: 220px;
  display: block;
  margin: 35px auto;
  border: none;
  border-radius: 25px;
  font-size: 0.95rem;
  font-weight: 500;
  box-shadow: 5px 7px 26px -9px rgba(0, 0, 0, 0.5);
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  color: #FFF;
  position: relative;
  transition: 0.3s;
  box-shadow: 5px 7px 26px -9px rgb(0, 0, 0);
}
.bouton-explorer:hover {
  transform: scale(1.25);
  opacity: 80%;
  cursor: pointer;
}

.bouton {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #F6F6F6;
  width: 75%;
  height: 75px;
  text-align: start;
  font-size: 16px;
  justify-content: start;
  align-items: center;
  font-weight: 500;
  gap: 15px;
  border-radius: 25px;
  border: none;
  box-shadow: 5px 7px 26px -9px rgba(0, 0, 0, 0.5);
  position: relative;
  transition: transform 0.5s;
}
.bouton:hover {
  animation: anim-btn 1s ease-in 0.05s 1 forwards;
  cursor: pointer;
  /**filter: brightness(1.085);**/
  box-shadow: 1px 10px 46px -3px rgba(0, 0, 0, 0.5);
}
.bouton:hover .smartphone {
  color: #9356DC;
}
.bouton:hover .bouton-numero {
  animation: anim-num 1.5s linear forwards;
}

@media (min-width: 1024px) {
  .bouton {
    width: 30%;
  }
}
@keyframes pulse {
  to {
    /**box-shadow: 0 0 0 18px  rgba(0,0,0,0.01) ;**/
  }
}
@keyframes anim-btn {
  0% {
    transform: scale3d(0.97, 0.97, 1);
    filter: brightness(1);
  }
  20% {
    transform: scale3d(1.02, 1.02, 1);
    filter: brightness(1.002);
  }
  40% {
    transform: scale3d(0.98, 0.98, 1);
    filter: brightness(1.004);
  }
  60% {
    transform: scale3d(1, 1, 1);
    filter: brightness(1.006);
  }
  80% {
    transform: scale3d(0.99, 0.99, 1);
    filter: brightness(1.007);
  }
  100% {
    transform: scale3d(1, 1, 1);
    filter: brightness(1.008);
  }
}
@keyframes anim-num {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-90deg);
  }
  20% {
    transform: rotate(-40deg);
  }
  30% {
    transform: rotate(180deg);
  }
  40% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(540deg);
  }
  60% {
    transform: rotate(720deg);
  }
  70% {
    transform: rotate(780deg);
  }
  80% {
    transform: rotate(690deg);
  }
  90% {
    transform: rotate(730deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
.bouton-menu:hover .plat-valide {
  width: 20%;
}

@media (min-width: 1024px) {
  .plat-valide {
    width: 0;
    overflow: hidden;
    background-color: #99E2D0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 0.9s;
  }
  .bouton-menu:hover .plat-valide {
    width: 10%;
  }
}
.bouton-clic {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: black;
  padding-left: 20px;
}

.lesboutons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 17px;
  padding-bottom: 15px;
}

@media (min-width: 1024px) {
  .lesboutons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
    padding-bottom: 15px;
  }
}
.bouton:hover {
  cursor: pointer;
}

.bouton-menu {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  width: 87%;
  height: 75px;
  overflow: hidden;
  text-align: start;
  font-size: 16px;
  justify-content: center;
  font-weight: 500;
  gap: 5px;
  border-radius: 15px;
  border: none;
  box-shadow: 5px 7px 26px -9px rgba(0, 0, 0, 0.5);
  transition: 0.4s all ease-in-out 0s;
}

@media (min-width: 1024px) {
  .bouton-menu {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 87%;
    height: 75px;
    overflow: hidden;
    text-align: start;
    font-size: 16px;
    justify-content: center;
    font-weight: 500;
    gap: 5px;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 7px 26px -9px rgba(0, 0, 0, 0.5);
    transition: 0.4s all ease-in-out 0s;
  }
}
@media (min-width: 1024px) {
  .bouton-menu-vide {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width: 87%;
    height: 75px;
    overflow: hidden;
    text-align: start;
    font-size: 16px;
    justify-content: center;
    font-weight: 500;
    margin-bottom: -30px;
  }
}
.bouton-menu-vide {
  position: relative;
  display: flex;
  flex-direction: row;
  /** width: 634px;**/
  overflow: hidden;
  text-align: start;
  font-size: 16px;
  justify-content: center;
  font-weight: 500;
  gap: 5px;
}

.btnentre {
  animation: flouentre 1.8s linear 0s forwards;
}

@keyframes flouentre {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.btnplats {
  animation: flouplats 1.8s linear 0s forwards;
}

@keyframes flouplats {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.btndessert {
  animation: floudessert 1.8s linear 0s forwards;
}

@keyframes floudessert {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.titre-description {
  flex: 1;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  overflow: auto;
}

.bouton-menu::before {
  right: unset;
  left: 0;
  width: 0;
}
.bouton-menu:hover::before {
  right: 0;
  left: unset;
  width: 20%;
}

.btn-commande {
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  height: 50px;
  font-size: 16px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  border: none;
  box-shadow: 5px 7px 26px -9px rgba(0, 0, 0, 0.5);
}

@media (min-width: 1024px) {
  .btn-commande {
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    height: 50px;
    width: 186px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    border: none;
    box-shadow: 5px 7px 26px -9px rgba(0, 0, 0, 0.5);
  }
}
.btn-commande-border {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 25px;
}

.btnfavoris-vide {
  position: absolute;
  font-size: 22px;
  opacity: 1;
  transition: 0.3s;
  padding: 0;
}

.btnfavoris-plein {
  position: absolute;
  opacity: 0;
  font-size: 20px;
  transition: 0.9s;
  padding: 0;
  background: -webkit-linear-gradient(-90deg, #9356dc, #ff79da);
  background-clip: content-box;
  -webkit-background-clip: text;
  color: transparent;
}

@media (min-width: 1024px) {
  .btnfavoris-plein {
    position: absolute;
    opacity: 0;
    font-size: 20px;
    transition: 0.9s;
    padding: 0;
    background: -webkit-linear-gradient(-90deg, #9356dc, #ff79da);
    background-clip: content-box;
    -webkit-background-clip: text;
    color: transparent;
  }
}
.favoris:hover {
  transform: scale(1.5);
}
.favoris:hover .btnfavoris-vide {
  opacity: 0;
}
.favoris input:checked + .btnfavoris-vide {
  opacity: 0;
}
.favoris:hover .btnfavoris-plein, .favoris input:checked + .btnfavoris-vide + .btnfavoris-plein {
  opacity: 1;
}

@media (min-width: 1024px) {
  .p-bouton {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    font-weight: bolder;
  }
}
.bouton-menu {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: #FFFFFF;
  width: 87%;
  height: 75px;
  overflow: hidden;
  text-align: start;
  font-size: 16px;
  justify-content: center;
  font-weight: 500;
  gap: 5px;
  border-radius: 15px;
  border: none;
  box-shadow: 5px 7px 26px -9px rgba(0, 0, 0, 0.5);
  transition: 0.4s all ease-in-out 0s;
}
.bouton-menu:hover .plat-valide {
  width: 20%;
}

@media (min-width: 1024px) {
  .bouton-menu:hover .plat-valide {
    width: 10%;
  }
}
/*************************************fin*******************/
/*************************************start*******************/
@media (min-width: 1024px) {
  .bouton-menu {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 87%;
    height: 75px;
    overflow: hidden;
    text-align: start;
    font-size: 16px;
    justify-content: center;
    font-weight: 500;
    gap: 5px;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 7px 26px -9px rgba(0, 0, 0, 0.5);
    transition: 0.4s all ease-in-out 0s;
  }
}
/**************************************fin **********************/
/*************************************start*******************/
.bouton-menu-vide {
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  width: 87%;
  height: 75px;
  overflow: hidden;
  text-align: start;
  font-size: 16px;
  justify-content: center;
  font-weight: 500;
  margin-bottom: -30px;
}

@media (min-width: 1024px) {
  .bouton-menu-vide {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    text-align: start;
    font-size: 16px;
    justify-content: center;
    font-weight: 500;
    gap: 5px;
  }
}
/**************************************fin **********************/
/*************************************start*******************/
.lesboutons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 17px;
  padding-bottom: 15px;
}

@media (min-width: 1024px) {
  .lesboutons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
    padding-bottom: 15px;
  }
}
/**************************************fin **********************/
/**************************************strart **********************/
.bouton-menu::before {
  right: unset;
  left: 0;
  width: 0;
}
.bouton-menu:hover::before {
  right: 0;
  left: unset;
  width: 20%;
}

.btnentre {
  animation: flouentre 1.8s linear 0s forwards;
}

.tete__titre {
  font-family: "Shrikhand";
  font-style: italic;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 18px;
  position: relative;
}

.image-plat {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (min-width: 1024px) {
  .image-plat {
    position: relative;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}
.logo__img {
  width: 200px;
  height: 35px;
}

@media (min-width: 1024px) {
  .logo__img {
    width: 200px;
    height: 35px;
  }
}
.centrer {
  display: flex;
  justify-content: center;
}

@media (min-width: 1024px) {
  .centrer {
    display: flex;
    justify-content: center;
  }
}
.recherche--zone {
  background-color: #EAEAEA;
  border: none;
  height: 50px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: black;
}

.barrederecherche {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #EAEAEA;
}

.carte {
  position: relative;
  transition: all 0.5s;
  width: 100%;
}
.carte:hover {
  transform: scale(0.9);
}

.centre-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
}

@media (min-width: 1024px) {
  .centre-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 20px;
  }
}
.Fonctionnement-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

@media (min-width: 1024px) {
  .Fonctionnement-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.imgrestaurant {
  width: 100%;
  height: 136px;
  border-radius: 25px 25px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1024px) {
  .imgrestaurant {
    height: 200px;
  }
}
.restaurantcards article {
  width: 95%;
  background-color: #FFFFFF;
  border-radius: 25px;
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .restaurantcards article {
    /**width: 100%;**/
    margin-top: 15px;
    margin-top: 15px;
    margin-bottom: 40px;
  }
}
.textrestaurants {
  padding-left: 10px;
}

@media (min-width: 1024px) {
  .textrestaurants {
    padding-left: 15px;
    padding-top: 20px;
  }
}
.card-txt {
  padding-left: 10px;
  color: black;
}

.titre-lien {
  padding-left: 10px;
}

.restaurant {
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
}

.card-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .card-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.liens {
  text-decoration: none;
}

.titre-la-palette {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 28px;
  line-height: 41px;
  position: relative;
}
.titre-la-palette:hover {
  animation: animation-titre 1.2s ease-in forwards;
}

@keyframes animation-titre {
  0% {
    transform: rotate3d(1, 0, 0, 0deg);
  }
  50% {
    transform: rotate3d(1, 0, 0, 360deg);
  }
  60% {
    transform: rotate3d(1, 0, 0, 420deg);
  }
  70% {
    transform: rotate3d(1, 0, 0, 370deg);
  }
  80% {
    transform: rotate3d(1, 0, 0, 330deg);
  }
  90% {
    transform: rotate3d(1, 0, 0, 350deg);
  }
  100% {
    transform: rotate3d(1, 0, 0, 360deg);
  }
}
.titre-favoris {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .titre-favoris {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
}
.main-con {
  top: 5px;
  width: 100%;
  padding-bottom: 43px;
}

@media (min-width: 1024px) {
  .main-con {
    width: 100%;
    position: relative;
  }
}
.contenair-main {
  background: #F6F6F6;
  border-radius: 40px 40px 0 0;
  position: relative;
  top: -40px;
  animation: flou 1.8s linear 0s forwards;
  padding-bottom: 20px;
}

@media (min-width: 1024px) {
  .contenair-main {
    /**width: 70%;**/
    margin-left: 500px;
    margin-right: 500px;
    background: #F6F6F6;
    border-radius: 40px 40px 0 0;
    position: relative;
    top: -40px;
    animation: flou 1.8s linear 0s forwards;
    padding-bottom: 20px;
  }
  @keyframes flou {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    60% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
}
@keyframes flou {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  60% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.pdp {
  background-color: #353535;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  padding-right: 60px;
  padding-bottom: 20px;
  margin-top: -40px;
}

li::marker {
  color: transparent;
}

@media (min-width: 1024px) {
  .pdp {
    padding-top: 50px;
    display: flex;
    /**flex-direction: column;**/
    flex-direction: row-reverse;
    padding-right: 60px;
    padding-bottom: 20px;
    margin-top: -40px;
  }
  li::marker {
    color: transparent;
  }
}
.piedtitre {
  font-family: "Shrikhand";
  font-style: italic;
  color: #F7F7F7;
  padding-left: 25px;
  padding-top: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 1024px) {
  .piedtitre {
    font-family: "Shrikhand";
    font-style: italic;
    color: #F7F7F7;
    padding-left: 25px;
    padding-top: 13px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.liste {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 25px;
  padding-bottom: 20px;
  margin-bottom: 0;
}

@media (min-width: 1024px) {
  .liste {
    display: flex;
    /**flex-direction: column;**/
    flex-direction: row;
    gap: 20px;
    padding-left: 25px;
    padding-bottom: 20px;
    margin-bottom: 0;
  }
}
.elemetliste {
  color: #FFFFFF;
  padding: 0;
}

.texte-element {
  text-decoration: none;
  color: #F7F7F7;
  margin-bottom: 20px;
}

.plat-valide {
  width: 0;
  overflow: hidden;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.9s;
}
.plat-valide > .fa-circle-check {
  color: white;
  font-size: 20px;
  padding: 0;
}
.plat-valide input:checked {
  width: 20%;
}

@media (min-width: 1024px) {
  .plat-valide > .fa-circle-check {
    color: white;
    font-size: 20px;
    padding: 0;
  }
}
.plat-petit {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 15.0431px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 1024px) {
  .plat-petit {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 15.0431px;
    line-height: 18px;
    overflow: hidden;
    /**text-overflow: ellipsis;**/
    white-space: nowrap;
  }
}
.titl {
  display: flex;
  justify-content: center;
  text-align: center;
}

.favoris {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
  transition: 0.3s;
}
.favoris > label {
  display: flex;
  justify-content: center;
  position: relative;
}
.favoris input {
  position: absolute;
  opacity: 0.001;
}
.favoris:hover {
  transform: scale(1.5);
}
.favoris:hover .btnfavoris-vide {
  opacity: 0;
}
.favoris input:checked + .btnfavoris-vide {
  opacity: 0;
}
.favoris:hover .btnfavoris-plein, .favoris input:checked + .btnfavoris-vide + .btnfavoris-plein {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */