.favoris {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    transition: 0.3s;
  
    > label {
      display: flex;
      justify-content: center;
      position: relative;
    }
  
    input {
      position: absolute;
      opacity: 0.001;
    }
  
    &:hover {
      transform: scale(1.5);
  
      .btnfavoris-vide {
        opacity: 0;
      }
    }
  
    input:checked + .btnfavoris-vide {
      opacity: 0;
    }
  
    &:hover .btnfavoris-plein, input:checked + .btnfavoris-vide + .btnfavoris-plein {
      opacity: 1;
    }
  }
  