.bouton-explorer {
    height: 50px;
    width: 220px;
    display: block;
    margin: 35px auto;
    border: none;
    border-radius: 25px;
    font-size: 0.95rem;
    font-weight: 500;
    box-shadow: 5px 7px 26px -9px rgba(0, 0, 0, 0.5);
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    color: #FFF;
    position: relative;
    transition: 0.3s;
    box-shadow: 5px 7px 26px -9px rgba(0, 0, 0, 1);
  
    &:hover {
      transform: scale(1.25);
      opacity: 80%;
      cursor: pointer;
    }
  }
  
  .bouton {
    &:hover {
      .smartphone {
        color: #9356DC;
      }
  
      animation: anim-btn 1s ease-in 0.05s 1 forwards;
      cursor: pointer;
  
      /**filter: brightness(1.085);**/
      box-shadow: 1px 10px 46px -3px rgba(0, 0, 0, 0.5);
  
      .bouton-numero {
        /**transform: rotate(720deg) scale(1.5);**/
        animation: anim-num 1.5s linear forwards;
      }
    }
  
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #F6F6F6;
    width: 75%;
    height: 75px;
    text-align: start;
    font-size: 16px;
    justify-content: start;
    align-items: center;
    font-weight: 500;
    gap: 15px;
    border-radius: 25px;
    border: none;
    box-shadow: 5px 7px 26px -9px rgba(0, 0, 0, 0.5);
    position: relative;
    transition: transform 0.5s;
  }
  
  @keyframes pulse {
    to {
      /**box-shadow: 0 0 0 18px  rgba(0,0,0,0.01) ;**/
    }
  }
  
  @keyframes anim-btn {
    0% {
      transform: scale3d(0.97, 0.97, 1);
      filter: brightness(1);
    }
  
    20% {
      transform: scale3d(1.02, 1.02, 1);
      filter: brightness(1.002);
    }
  
    40% {
      transform: scale3d(0.98, 0.98, 1);
      filter: brightness(1.004);
    }
  
    60% {
      transform: scale3d(1, 1, 1);
      filter: brightness(1.006);
    }
  
    80% {
      transform: scale3d(0.99, 0.99, 1);
      filter: brightness(1.007);
    }
  
    100% {
      transform: scale3d(1, 1, 1);
      filter: brightness(1.008);
    }
  }
  
  @keyframes anim-num {
    0% {
      transform: rotate(0deg);
    }
  
    10% {
      transform: rotate(-90deg);
    }
  
    20% {
      transform: rotate(-40deg);
    }
  
    30% {
      transform: rotate(180deg);
    }
  
    40% {
      transform: rotate(360deg);
    }
  
    50% {
      transform: rotate(540deg);
    }
  
    60% {
      transform: rotate(720deg);
    }
  
    70% {
      transform: rotate(780deg);
    }
  
    80% {
      transform: rotate(690deg);
    }
  
    90% {
      transform: rotate(730deg);
    }
  
    100% {
      transform: rotate(720deg);
    }
  }
  
  .bouton-menu:hover .plat-valide {
    width: 20%;
  }
  
  .bouton-clic {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: black;
    padding-left: 20px;
  }
  
  .bouton-numero {
    position: absolute;
    background-color: #9356DC;
    border: 1px solid #9356DC;
    width: 19px;
    color: #FFF;
    text-align: center;
    border-radius: 10px;
    left: -14px;
    position: relative;
    transition: transform 0.5s;
  }
  
  .lesboutons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 17px;
    padding-bottom: 15px;
  }
  
  .smartphone {
    padding-top: 0;
    padding-left: 15px;
  }
  
  .smartphone1 {
    padding-top: 0;
  }
  
  .smartphone:hover {
    color: #9356DC;
  }
  
  .bouton:hover {
    cursor: pointer;
  }
  
  .bouton-menu {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 87%;
    height: 75px;
    overflow: hidden;
    text-align: start;
    font-size: 16px;
    justify-content: center;
    font-weight: 500;
    gap: 5px;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 7px 26px -9px rgba(0, 0, 0, 0.5);
    transition: 0.4s all ease-in-out 0s;
  }
  
  .titre-description {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    overflow: auto;
  }
  
  .bouton-menu {
    &::before {
      right: unset;
      left: 0;
      width: 0;
    }
  
    &:hover::before {
      right: 0;
      left: unset;
      width: 20%;
    }
  }
  
  .btn-commande {
    background: linear-gradient(170deg, #FF79DA, #9356DC);
    height: 50px;
    font-size: 16px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    border: none;
    box-shadow: 5px 7px 26px -9px rgba(0, 0, 0, 0.5);
  }
  
  .btn-commande-border {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 25px;
  }
  
  .carte {
    position: relative;
    transition: all 0.5s;
    width: 100%;
  
    &:hover {
      transform: scale(0.9);
    }
  }
  
  .centre-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
  }
  
  .nouveau {
    width: 62px;
    position: absolute;
    padding: 6px 6px;
    transform-origin: 10% 50%;
    border-radius: 2px;
    background-color: #99E2D0;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #008766;
    top: 15px;
    right: 15px;
  }
  