p {
    font-family: 'Roboto',sans-serif;
  }
  
  body {
    margin: 0;
  }
  
  .fa-arrow-left {
    margin-top: 20px;
    margin-bottom: 20px;
    size: 30px;
    color: #353535;
    font-size: 17px;
  }
  
  input::placeholder {
    color: black;
  }
  
  .fa-solid {
    padding-top: 16px;
  }
  
  p {
    padding-left: 10px;
  }
  
  .smartphone {
    padding-top: 0;
    padding-left: 15px;
  }
  
  .smartphone1 {
    padding-top: 0;
  }
  
  .smartphone:hover {
    color: #9356DC;
  }